body {
    background: linear-gradient(90deg, rgb(75, 75, 75) 0%, rgba(0,0,0,1) 100%);
    margin: 15px;

}

.slick-slide:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.5s ease-out;
    transform: scale(.9);
    cursor: pointer;}

.slick-center {
    background: linear-gradient(275deg, rgb(173, 48, 48) 0%, rgb(104, 28, 28) 100%);
    color: #ffffff;
    opacity: 1;
}

.modal {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;

}

.modal-body {
    background-color: #fefefe;
    margin: 0 auto;
    width: 50%;
}

.modal-content {
    border: none;
}

.modal-content .card-img-top {
    margin: 0 auto;
    max-height: 600px;
    max-width: 600px;
}

.close {
    color: #0a0a0a;
    float: right;
    font-size: 2rem;
}

.close:hover {
    color: #870000;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease-out;
    transform: rotate(360deg) scale(1.5);

}
